<header class="d-flex align-items-center justify-content-between">
    <h1 routerLink="/">CE</h1>
    <div class="buttons d-flex flex-row align-items-center" *ngIf="userIsSignedIn">
        <a routerLink="/new-product">+ Add Product</a>
        <a class="action-button" (click)="logout()">Sign out</a>
    </div>
    <div class="buttons d-flex flex-row align-items-center" *ngIf="!userIsSignedIn">
        <a routerLink="/signup">Sign up</a>
        <a class="action-button" routerLink="/login">Login</a>
    </div>
</header>