
<div>
    <p class="nav" routerLink="../">Back</p>
    <div class="page d-flex align-items-start justify-content-between">
        <div class="left">
            <div class="image">
                <img src="assets/images/product.png" />
            </div>
           
        </div>
        <div class="right">
            <h2 class="name">Personalized Bracelet</h2>
            <p class="price">$29</p>
            <p class="text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nisi aperiam illo deserunt quia harum corporis
                vero qui consectetur, iste in reprehenderit architecto reiciendis impedit, dolores, magnam voluptatum dicta
                nesciunt
            </p>
            <p class="text">Color: <b>Pink</b></p>
            <p class="text">Size: <b>Large</b></p>
        </div>
    </div>
</div>
