<div>
    <p class="nav d-flex align-items-center" routerLink="../">
        <img src="assets/images/arrow-left.svg" />
        Back
    </p>
    <div class="page d-flex align-items-start justify-content-between" *ngIf="product">
        <div class="left">
            <div class="image">
                <img [src]="product.imageUrl" />
            </div>

        </div>
        <div class="right">
            <p class="text">Sold by: <b>{{product.user.firstName | titlecase}}</b></p>
            <h2 class="name">{{product.name}}</h2>
            <p class="price">{{product.price | currency:'USD':'symbol-narrow'}}</p>
            <p class="text">
                {{product.description}}
            </p>
            <p class="text">Color: <b>{{product.color | titlecase}}</b></p>
            <p class="text">Size: <b>{{product.size | titlecase}}</b></p>
            <a class="action-link d-flex align-items-center" *ngIf="user && user._id == product.user._id"
            [routerLink]="'/edit-product/'+product.slug">
                Edit
                <img src="assets/images/edit.svg" />
            </a>
        </div>
    </div>
</div>