main {
    width: 100%;
    .body {
        width: 100%;
        min-height: 100%;
        padding: 50px var(--side-padding);
        overflow-x: hidden;
        flex-grow: 1;
        margin-top: 75px;
        @media screen and(max-width:575px) {
            padding-top: 40px;
        }
    }
}